############################################
## 	Kconfig for acc sensors devices 			
## 	Author:LongJiang 									
## 	Date:2013-09-25 									
############################################
	  
config YL_KIONIX_GSENSOR
	tristate "KIONIX_ACCEL"
	depends on I2C && SYSFS
	default n	
	help
		If you say yes here you get support for the Kionix digital 
		3-axis accelerometer.
	
		This driver can also be built as a module.If so, the module
		will be called kionix_accel.		

