#
# Wingtech Goodix GT9xx Touchscreen driver
#

config TOUCHSCREEN_WT_GT9XX_UPDATE
	bool "Goodix touchpanel (Wingtech variant) firmware update"
	depends on TOUCHSCREEN_WT_GT9XX
	help
	  Say Y here if you want GT9xx (Wingtech) firmware update.

	  If unsure, say N.

config TOUCHSCREEN_WT_GT9XX_DEBUG
	bool "Goodix touchpanel (Wingtech variant) debug"
	depends on TOUCHSCREEN_WT_GT9XX
	help
	  Say Y here if you want GT9xx (Wingtech) extra debug.

	  If unsure, say N.
