# Huaqin configuration options

config MACH_HUAQIN
        bool "Huaqin device"
        depends on ARCH_MSM
        help
          Support for Huaqin products

config MACH_HUAQIN_MSM8916
        bool "Huaqin MSM8916"
        depends on ARCH_MSM8916
        select MACH_HUAQIN
        help
          Support for MSM8916 Huaqin variants

menu "Huaqin board selection"

config MACH_JALEBI
        bool "Jalebi board"
        select MACH_HUAQIN_MSM8916
        help
          Support for Huaqin Jalebi variant

endmenu
