config YL_HSHCAL001A_DEBUG
	boolean "Debug support for ALPS Humidity drivers"
	depends on DEBUG_KERNEL
	default n
	help
	  Say "yes" to enable debug messaging.

config YL_HSHCAL001A_HUMITURE
	tristate "HSHCAL001A Humidity Sensor Driver"
	depends on I2C
	default n
	help
	  Say yes here to build support for ALPS Electric HSHCAL001A Humidity Driver.
